services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - ecoeden_dev_net
  
  ecoeden.jager:
    image: jaegertracing/all-in-one:latest
    container_name: ecoeden.jager
    ports:
     - 4317:4317
     - 4318:4318
     - 16686:16686
    networks:
      - ecoeden_dev_net

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    networks:
      - ecoeden_dev_net
  
  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - 5540:5540
    depends_on:
      - redis
    networks:
      - ecoeden_dev_net
    volumes:
      - redisinsight:/data

ncz
volumes:
  redisinsight:
